main{
  margin-top: 56px;
}

.App{
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  width: 95%;
  padding: 1em;
  opacity: 0.95;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2);
  justify-content: flex-start;

}

.centered{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  text-align: justify;
}

.intro{
  font-weight: 100;
  color: #dab78f;
}

@media screen and (max-width : 320px)
{
  .intro
  {
    font-size: 20px;
  }
}
@media screen and (min-width : 1000px)
{
  .intro
  {
    font-size: 27px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}

#bg{
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.black{
  position: absolute;
  top: 1000px;
  background-color: black;
}